/*color:
pink:CA1B56
dark red:97536C
purple :D226FD
green yellow:F7FD65
deep yellow:CAB90A
*/


html {
  position:relative;
  box-sizing:content-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'AG',-apple-system,BlinkMacSystemFont,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
  }

body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #2d3c49;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header{
  margin-top:40px;
   color:#CA1B56;
}

.head-name{
  font-size: 18px;
}

.head-intro{
  font-size: 30px;
  margin-bottom: 30px;
}

.main{
  max-height : 400px;
  overflow: hidden;
  position: relative;
}
.main img{
  min-width: 100%;
}

#main-project{
  height: 400px;
}


img {
  width: 100%;
}

.info {
  background-color: rgba(102, 0, 51,0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
  height:15%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  text-align: right;
}

#featuredWork {
  margin-top: 10px;
}

.info h2 {
    font-weight: normal;
}

.info a {
  font-size: 1.1em;
}

a:link {
  text-decoration: none;
  cursor: auto;
  color:white;
}

a:visited {
    color: #fff0b3;
}

a:hover {
    color: hotpink;
}

.info p {
  -webkit-margin-before: 5px;
  font-size: 0.9em;
  -webkit-margin-after: 0px;
}

h1 {
  -webkit-margin-before: 0px;
-webkit-margin-after: 0px;
}

.project{
  margin: 15px 0 15px;
  position: relative;
}

.works {
  width: 100%;
  margin-bottom: 5px;
}

.works img {
  width: 100%;
  height: auto;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .head-name{
    font-size: 18px;
  }

  .head-intro{
    font-size: 36px;
    max-width: 70%;
    margin-bottom: 60px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .head-name{
    font-size: 22px;
  }

  .head-intro{
    font-size: 45px;
    max-width: 70%;
    margin-bottom: 60px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .head-name{
    font-size: 22px;
  }

  .head-intro{
    font-size: 52px;
    max-width: 70%;
    margin-bottom: 60px;
  }
}
